body {
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.content {
  text-align: center;
  color: #FFF;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
}

.image {
  opacity: 0;
}

@-webkit-keyframes fadeImage {
  0% {
    opacity: 0;
    -webkit-animation-timeing-function: ease-in;
  }
  4.1% {
    opacity: 1;
  }
  95.9% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-animation-timeing-function: ease-out;
  }
}

@keyframes fadeImage {
  0% {
    opacity: 0;
    animation-timeing-function: ease-in;
  }
  4.1% {
    opacity: 1;
  }
  95.9% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    animation-timeing-function: ease-out;
  }
}

.fade {
  -webkit-animation-name: fadeImage;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;

  animation-name: fadeImage;
  animation-duration: 60s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}