<form class="form-signin" role="form">
  <h1 class="form-signin-heading">Screen activation</h1>
  <input type="text" class="form-control form-activation-code" placeholder="Activation code" required autofocus>
  <button class="btn btn-primary btn-block btn-activate" type="submit">{{ button }}</button>
</form>