<form class="form-signin" role="form">
  <h1 class="form-signin-heading">Screen activation</h1>
  <input type="text" class="form-control" placeholder="Activation code" required autofocus>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Activate</button>
</form>